.park-card {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 200px; 
    max-height: 1000px;
    height: auto;
    margin: 0; 
}
  
  .image-container {
    margin-top: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
  }