.nav-header, .banner {
  display: flex;
}

.nav-header {
  flex-direction: column;
}

.banner {
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .welcome-message {
    margin: 5px;
  }
}