.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  align-items: center; 
  margin: 2%;
  margin-bottom: 0px;
  align-self: center;
}

.no-state{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  z-index: 999;
}
 
@media screen and (max-width: 600px) {
  .card-grid {
    justify-items: center;
  }
}
  
  
